# Информация для Git, без / - игнорировать и папку venv и файл venv
# Виртуальное окружение проекта:
venv

# Настройки среды разработки PyCharm:
.idea

# Конфиденциальные данные:
.env

# Кэш Python:
__pycache__/

# Локальная база данных:
db.sqlite3